@import './variables.scss';

:root {
  --track-1-speed: 1s;
  --track-2-speed: 1s;
  --tonearm-1: 8deg;
  --tonearm-2: 8deg;
}

.main {
  flex-grow: 2;
  display: flex;
  flex-flow: column;
  height: calc(100vh - 50px);
  width: 100%;
  flex: 0 1 auto;
  background-color: black;
}

.main-area {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  border: solid black 1px;
  background-color: rgb(49, 49, 47);
  background-size: cover;
}

.all-tracks-area {
  display: flex;
  flex-direction: row;
}

.turntable {
  width: 300px;
}

.track-area {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  margin: 10px;
  padding: 10px;
  background-color: $equipment-grey;
}

.all-track-info {
  background-color: black;
  border-radius: 10px;
}

.track-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.alarm-text {
  text-transform: uppercase;
  font-family: "alarmClock";
  color: red;
}

.ppButton {
  position: absolute;
  top: 190px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  outline: none;
  background-color: $knob-silver;
  padding: 0px;

  img {
    height: 18px;
    width: 18px;
  }
}

.record-area {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.record-img {
  position: relative;
  height: 200px;
  width: 200px;
}

.rotate1 {
  animation: rotation var(--track-1-speed) infinite linear;
}

.rotate2 {
  animation: rotation var(--track-2-speed) infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.tonearm-img {
  position: absolute;
  top: -10px;
  right: 20px;
  height: 180px;
  width: 60px;
  transform-origin: 30px 40px;
}

#tonearm-img1 {
  transform: rotate(var(--tonearm-1));
}

#tonearm-img2 {
  transform: rotate(var(--tonearm-2));
}

.speed-area {
  position: absolute;
  bottom: 10px;
  right: -80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;

  .speed-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    height: inherit;
    margin-left: 10px;
  }

  .speed {
    position: relative;
    transform: rotate(270deg);
    width: 100px;
    right: 40px;
  }
}

.pan-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#middle-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  margin: 10px 0px;
}

.crossfader-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: inherit;
  align-self: center;
  background-color: $equipment-grey;
  border: solid black 1px;

  input[type=range] {
    width: 130px;
  }
}

.letter-label {
  margin: 10px;
  font-weight: bold;
  font-size: 25px;
}

#track-bank {
  border: solid black 1px;
  background-color: black;
}

.track-listing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 1px;
  font-family: "scribble";
  font-size: 20px;
  background-color: #d5b087;

  &:hover {
    cursor: pointer;
  }
}

.label {
  display: inline;
  background-color: white;
  padding: 0px 5px;
  border-radius: 8px 8px 0px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

input[type=range] {
  margin: 5px 0px;
  -webkit-appearance: none;
  height: 5px;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    height: 5px;
    background-color: black;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 15px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: $knob-silver;
    cursor: pointer;
    margin-top: -9px;
  }

  &::-moz-range-track {
    height: 5px;
    background-color: black;
  }

  &::-moz-range-thumb {
    height: 25px;
    width: 15px;
    border-radius: 5px;
    border: solid black 1px;
    border-radius: 3px;
    background-color: $knob-silver;
    cursor: pointer;
  }
}

#beat-canvas1, #beat-canvas2 {
  height: 100px;
  width: 100%;
  padding: 10px;
}

#volume-canvas1, #volume-canvas2 {
  position: fixed;
  height: 95vh;
  width: 50vw;
  bottom: 0;
}

#volume-canvas1 {
  left: 0;
}

#volume-canvas2 {
  left: 50vw;
}