$equipment-grey: rgb(143, 137, 137);
$knob-silver: rgb(209, 204, 204);

.main {
  flex-grow: 2;
  display: flex;
  flex-flow: column;
  // height: 100%;
  height: 95vh;
  width: 100%;
  flex: 0 1 auto;
  background-color: black;
}

.main-area {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid black 1px;
  background-color: rgb(49, 49, 47);
  background-size: cover;
}

.all-tracks-area {
  display: flex;
  flex-direction: row;
}

.turntable {
  width: 300px;
}

.track-area {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  margin: 10px;
  padding: 10px;
  background-color: $equipment-grey;
}

.all-track-info {
  background-color: black;
  border-radius: 10px;
}

.track-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.alarm-text {
  text-transform: uppercase;
  font-family: "alarmClock";
  color: red;
}

.ppButton {
  position: absolute;
  top: 190px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  outline: none;
}

.record-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.record-img {
  position: relative;
  height: 200px;
  width: 200px;
}

.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.speed-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;

  .speed-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    height: inherit;
    margin-left: 10px;
  }

  .speed {
    position: relative;
    transform: rotate(270deg);
    width: 100px;
    right: 40px;
  }
}

.pan-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#middle-section {
  width: 200px;
}

.crossfader-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: inherit;
  align-self: center;
  background-color: $equipment-grey;

  input[type=range] {
    width: 150px;
  }
}

.letter-label {
  margin: 10px;
  font-weight: bold;
}

#track-bank {
  margin: 10px 0px;
  border: solid black 1px;
  background-color: black;
}

.track-listing {
  text-align: center;
  margin: 1px;
  font-family: "scribble";
  background-color: #d5b087;

  &:hover {
    cursor: pointer;
  }
}

.label {
  display: inline;
  background-color: white;
  padding: 0px 5px;
  border-radius: 5px 5px 0px 0px;
}

input[type=range] {
  margin: 5px 0px;
  -webkit-appearance: none;
  height: 5px;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    height: 5px;
    background-color: black;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 15px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: $knob-silver;
    cursor: pointer;
    margin-top: -9px;
  }

  &::-moz-range-track {
    height: 5px;
    background-color: black;
  }

  &::-moz-range-thumb {
    height: 25px;
    width: 15px;
    border-radius: 5px;
    border: solid black 1px;
    border-radius: 3px;
    background-color: $knob-silver;
    cursor: pointer;
  }
}