header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // height: 5vh;
  height: 50px;
  background-color: black;

  .title {
    font-weight: bold;
    font-size: 40px;
    color: white;
  }
}

.logo-img {
  height: 40px;
  width: 40px;
  margin: 0px 15px;
}