@import './reset.css';
@import './header.scss';
@import './body.scss';

body {
  display: flex;
  flex-direction: column;
}

img {
  pointer-events: none;
  user-select: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}